h1 {
    color: red;
    background-color: blue;
    text-align: center;
    font-size: 48px;
    font-family: Helvetica, sans-serif;
}

#list {
    color: seashell;
    background-color: salmon;
    font-family: Arial, sans-serif;
    font-size: 60px;
}